<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shashank_bhat.lms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.shashank_bhat.lms.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shashank_bhat.lms.signup"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shashank_bhat.lms.home_page"
            android:colorMode="hdr"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.shashank_bhat.lms.About_Us"
            android:label="About Us"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shashank_bhat.lms.books"
            android:label="Library Books"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shashank_bhat.lms.My_Books"
            android:label="My Books"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shashank_bhat.lms.penalty_custom_dailog"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.shashank_bhat.lms.change_passowrd"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shashank_bhat.lms.home_page"/>
        </activity>
    </application>

</manifest>